/* RED  */
/* #862933 */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;500;600;700&display=swap');
* 
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat';
}
.stAlert > div {
    border: 1px solid #6faadc33;
    width: max-content;
    margin: auto;
    background-color: #6faadc00;
}
footer {
    display: none;
}
[data-testid="stHeader"] {
    height: min-content;
}
[data-testid="stSidebarNav"] {
    background-size: contain;
    background-position: 12px 30px;
    height: 200px;
    padding-top: 200px;
}
.css-1dp5vir {
    height: 0.325rem;
    background-image: linear-gradient(156deg, #862933, #4467ef);
}
.css-1vq4p4l {
    padding-top: 4rem;
}
.css-vene6b {
    z-index: 999989;
}
.css-1rs6os {
    color: #862933;
}
.nav-link[data-v-4323f8ce] {
    font-size: small !important;
}
.e1fqkh3o3 {
    display: flex;
    flex-direction: column;
    justify-content: start;
    position: fixed;
    width: inherit;
}
.css-91z34k {
    padding: 0 3rem;
    max-width: unset;
}
[data-testid="stForm"] {
    border: 1px solid #862933;
}
.st-f5 {
    border: 1px solid #862933;
    background: transparent;
    color: #862933;
}
.st-bz {
    border-radius: 5px;
}
.st-cz {
    border-bottom-color: #862933;
    border-top-color: #862933;
}
.st-cy {
    border-right-color: #862933;
}
.st-cx {
    border-left-color: #862933;
}
.st-bw:hover {
    box-shadow: rgb(4 4 4 / 22%) 1px 2px 3px 2px;
}
.css-uc76bn {
    visibility: hidden;
}
.nav-link-horizontal.active {
    font-weight: lighter !important;
    font-size: smaller;
}
css-18ni7ap {
    background-color: transparent;
}
.css-k1ih3n {
    padding-top: 0;
}

[data-testid="stToolbar"] {
    display: none
}

.css-1v0mbdj {
    width: 100px;
}

.css-18sng8a {
    top: 5px;
}