@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;500;600;700&display=swap');
* 
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat';
}

.stAlert > div {
    border: 1px solid #6faadc33;
    width: max-content;
    margin: auto;
    background-color: #6faadc00;
}

footer {
    display: none;
}


/* RED  */
/* #862933 */

[data-testid="stSidebarNav"] {
    background-size: contain;
    background-position: 12px 30px;
    height: 200px;
    padding-top: 200px;
}

#MainMenu {
    /* display: none; */
}

.css-1dp5vir 
{
    height: 0.325rem;
    background-image: linear-gradient(156deg, #b10404, #4467ef);
}

.css-vene6b {
    z-index: 999989;
}

[data-testid="stSidebar"] {
    max-width: 310px;
    top: 5px;
}

.css-1rs6os {
    color: #862933;
}

.nav-link[data-v-4323f8ce] {
    font-size: small !important;
}

.e1fqkh3o3 {
    display: flex;
    flex-direction: column;
    justify-content: start;
    position: fixed;
    width: inherit;
}

.css-91z34k {
    padding: 1rem 1rem 10rem;
}

[data-testid="stForm"] {
    border: 1px solid #7d0a2f;
}

.st-bz {
    /* background-color: rgb(249, 249, 255); */
    /* border: 1px solid #7d0a2f; */
    border-radius: 5px;
    /* background-color: #e1e1e90f */
}

.st-cz {
    border-bottom-color: #b02635;
    border-top-color: #b02635;
}

.st-cy {
    border-right-color: #b02635;
}

.st-cx {
    border-left-color: #b02635;
}

.st-bw:hover {
    box-shadow: rgb(4 4 4 / 22%) 1px 2px 3px 2px;
}

.css-uc76bn {
    visibility: hidden;
}

.nav-link-horizontal.active
{
    font-weight: lighter !important;
    font-size: smaller;
}
css-18ni7ap {
    background-color: transparent;
}

.css-k1ih3n {
    padding-top: 0;
}
[data-testid="stToolbar"]
{
    display: none
}
[data-testid="stHeader"]
{
    
    /* display: none; */
    /* position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    --tw-backdrop-blur: blur(4px);
    height: 3.875rem;
    background: #1c1c1ccf;
    outline: none;
    z-index: 999990;
    opacity: 0.9;
    backdrop-filter: blur(40px);
    display: block; */
}

.fab{
    position: fixed;
    width: 60px;
    height: 60px;
    bottom: 40px;
    right: 40px;
    background-color: #0C9;
    color: #FFF;
    border-radius: 50px;
    text-align: center;
    box-shadow: 2px 2px 3px #999;
}